<div class="cards">
    @for (card of this.cardsService.cards; let cardIndex = $index; track cardIndex) {
        <div class="card-front">
            <div class="number">
                {{ card.cardNumber | formatCardNumber }}
            </div>
            <div class="name">
                {{ this.accountService.getOwnerNameByAccountNumber(card.accountNumber) }}
            </div>
            <div class="account">
                {{ card.accountNumber | formatAccountNumber }}
            </div>
            <div class="expiry">
                {{ card.expirationDate }}
            </div>
            <div class="cvv">
                {{ card.cvv }}
            </div>
            <img class="cardLogo" src="img/master.svg" alt="">

            <div class="chip">
                <svg role="img" viewBox="0 0 100 100">
                    <use href="#chip-lines"/>
                </svg>
            </div>
        </div>

    }
</div>

<svg id="chip">
    <g id="chip-lines">
        <polyline points="0,50 35,50"></polyline>
        <polyline points="0,20 20,20 35,35"></polyline>
        <polyline points="50,0 50,35"></polyline>
        <polyline points="65,35 80,20 100,20"></polyline>
        <polyline points="100,50 65,50"></polyline>
        <polyline points="35,35 65,35 65,65 35,65 35,35"></polyline>
        <polyline points="0,80 20,80 35,65"></polyline>
        <polyline points="50,100 50,65"></polyline>
        <polyline points="65,65 80,80 100,80"></polyline>
    </g>
</svg>

@if (this.accountService.accounts.length > 0) {
    <div class="row">
        <app-order class="col-md-4"></app-order>
        <app-del class="col-md-4"></app-del>
        <app-payment class="col-md-4"></app-payment>
    </div>
} @else {
    <p class="no-accounts">No accounts available. Please create an account first.</p>
}
