.notification {
    position: absolute;
    width: 300px;
    right: 0;
    margin: 10px;
    z-index: 1;
}

.menu {
    height: 100%;
    width: 320px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    position: fixed;

    h2 span {
        margin-left: 10px;
    }

    .nav-menu {
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            color: var(--second-font-color);
            width: 180px;
            padding: 14px;
            border-radius: 12px;
            transition: color 0.2s, background-color 0.2s;

            i {
                color: var(--second-font-color);
                width: 26px;
                transition: color 0.2s;
            }

            &.selected {
                color: var(--main-font-color);
                background-color: var(--second-bg-color);

                i {
                    color: var(--main-font-color);
                }
            }

            &:hover {
                color: var(--main-font-color);
                background-color: var(--second-bg-color);
                cursor: pointer;

                i {
                    color: var(--main-font-color);
                }
            }
        }
    }

    .profile {
        display: flex;
        position: absolute;
        bottom: 14px;

        &-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            margin-right: 10px;
        }
    }
}

.content {
    width: calc(100% - 320px);
    padding: 20px;
    margin-left: 320px;
}

@media (max-width: 1199px) {
    .menu {
        width: 90px;
        text-align: center;

        a {
            width: initial !important;
        }
    }
    .content {
        width: calc(100% - 90px);
        margin-left: 90px;
    }
    .nav-menu {
        margin-left: 0 !important;
    }
    .nav-hidden {
        display: none;
    }
}
