<div class="main">
    <div class="menu">
        <h2><i class="fa-solid fa-piggy-bank"></i> MiniBankProject</h2>
        <nav role="navigation" aria-label="Main Menu">
            <div class="nav-menu">
                <a href="/login" class="nav-link selected"><i class="fa-solid fa-right-to-bracket"></i> Sign in</a>
                <a href="/login" class="nav-link"><i class="fa-solid fa-user-plus"></i> Sign up</a>
                <a href="/accounts" class="nav-link"><i class="fa-solid fa-users"></i> Accounts</a>
                <a href="/dashboard" class="nav-link"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
                <a href="/cards" class="nav-link"><i class="fa-solid fa-credit-card"></i> Credit Cards</a>
                <a href="/settings" class="nav-link"><i class="fa-solid fa-gears"></i> Settings</a>
                <a href="/logout" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
        </nav>
    </div>
    <div class="content">
    </div>
</div>
