<span class="heading">Edit User Settings</span>
<form (ngSubmit)="submitForm()" [formGroup]="userForm">
    <label for="email">Email:</label>
    <input
        formControlName="email"
        id="email"
        placeholder="Enter your email"
        type="email"
    />
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="error">
        Please enter a valid email.
    </div>

    <label for="username">Username:</label>
    <input
        formControlName="username"
        id="username"
        placeholder="Enter your username"
        type="text"
    />
    <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" class="error">
        Username must be at least 3 characters long.
    </div>

    <label for="oldPassword">Old Password:</label>
    <input
        formControlName="oldPassword"
        id="oldPassword"
        placeholder="Enter your old password"
        type="password"
    />
    <div *ngIf="userForm.get('oldPassword')?.invalid && userForm.get('oldPassword')?.touched" class="error">
        Old password is required and must be at least 6 characters long.
    </div>

    <label for="password">New Password:</label>
    <input
        formControlName="password"
        id="password"
        placeholder="Enter your new password"
        type="password"
    />
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="error">
        New password is required and must be at least 6 characters long.
    </div>

    <button [disabled]="userForm.invalid" type="submit">Save</button>
</form>
