<span class="heading">Order New Card</span>
<form (ngSubmit)="orderCard()" [formGroup]="orderForm">
    <label for="account">Select account:</label>
    <select formControlName="account" id="account">
        <option [ngValue]="null" disabled selected>-- Select account --</option>
        <option *ngFor="let account of accountService.accounts" [ngValue]="account.accountNumber">
            {{ account.accountNumber | formatAccountNumber }}
        </option>
    </select>
    <div *ngIf="orderForm.get('account')?.invalid && orderForm.get('account')?.touched" class="error">
        Please select an account.
    </div>

    <button class="green" type="submit">Order New Card</button>
</form>
