<span class="heading">Deposit</span>
<form (ngSubmit)="sendTransfer()" [formGroup]="transferForm">
    <div class="form-group">
        <label for="fromAccount">Select source account:</label>
        <select formControlName="fromAccount" id="fromAccount">
            <option [ngValue]="null" disabled selected>-- Select account --</option>
            <option *ngFor="let account of this.accountService.accounts" [ngValue]="account.accountNumber">
                {{ account.accountNumber | formatAccountNumber }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="amount">Amount:</label>
        <input
            formControlName="amount"
            id="amount"
            min="0.01"
            placeholder="Amount in USD"
            step="0.01"
            type="number"
        />
        <div *ngIf="transferForm.get('amount')?.invalid && transferForm.get('amount')?.touched" class="error">
            Enter a valid amount (greater than 0).
        </div>
    </div>

    <button [disabled]="transferForm.invalid" type="submit">Deposit</button>
</form>
